<div class="container my-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{post.dataValues.title}}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text blog-content">{{post.dataValues.content}}</p>
                    <p class="card-text"><small class="text-muted">
                        Posted by 
                        <a class="black-link" href="/profile/{{user.dataValues.id}}">
                            {{user.dataValues.username}}
                        </a>
                    </small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if loggedIn}}
<!-- COMMENT SECTION -->
<div class="container mt-5 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card bg-light">
                <div class="card-header comment-card-title">
                    <h2 id="comments" class="mb-0">Comments</h2>
                </div>
                <div class="card-body p-5">
                    <!-- Add Comments-->
                    <form id="comment-form">
                        <div class="form-group">
                            <label for="comment"><h6>Leave a Comment!</h6></label>
                            <textarea class="form-control mb-1" id="commentBody" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary cstm-btn mb-3">Submit</button>
                    </form>

                    <!-- User Comments -->
                    {{#if post.comments.length}}
                        {{#each post.comments}}
                            <div class="card mb-3">
                                <a href="/profile/{{this.dataValues.user.dataValues.id}}">
                                    <div class="card-header comment-card-title text-light bg-dark">{{this.dataValues.user.dataValues.username}}</div>
                                </a>
                                <div class="card-body">
                                    <p class="card-text">{{this.dataValues.body}}</p>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <h6>No comments yet.</h6>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card bg-light">
                <div class="card-header comment-card-title">
                    <h2 id="comments" class="mb-0">Comments</h2>
                </div>
                <div class="card-body p-5">
                    <!-- User Comments (if any) -->
                    {{#if post.comments.length}}
                        {{#each post.comments}}
                            <div class="card mb-3">
                                <a href="/profile/{{this.dataValues.user.dataValues.id}}">
                                    <div class="card-header text-light bg-dark comment-card-title">{{this.dataValues.user.dataValues.username}}</div>
                                </a>
                                <div class="card-body">
                                    <p class="card-text">{{this.dataValues.body}}</p>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <h6>No comments yet.</h6>
                    {{/if}}
                    <div class="row justify-content-center mb-4">
                        <div class="col-12">
                            <p>Please <a href="/login" class="teal-link">login</a> to post comments.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

<script src="/js/comment.js"></script>
